Pandas Review

In [1]:
import pandas as pd

In [2]:
#pd.read_parquet("...")
#pd.read_excel(''')

In [40]:
coffee = pd.read_csv('/Users/jordanfoley-reis/Library/Mobile Documents/com~apple~CloudDocs/Pandas/coffee.csv')

In [4]:
coffee.head(10)

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45
9     Friday       Latte          35

In [5]:
display(coffee) #print/just coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [6]:
coffee.sample(10, random_state= 10) #basically like set set for random_state = 10
#coffee.sample(10) #

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
12     Sunday    Espresso          45
6    Thursday    Espresso          40
8      Friday    Espresso          45
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
5   Wednesday       Latte          25
11   Saturday       Latte          35
13     Sunday       Latte          35

In [7]:
coffee.loc[[0,2,3], ["Day"]] #using Day as the column using index values normally or something else if you set it

       Day
0   Monday
2  Tuesday
3  Tuesday

In [8]:
coffee.iloc[[0,2],[0]] #This using indexing for values and filtering

       Day
0   Monday
2  Tuesday

In [9]:
coffee.loc[1:, ["Day"]]

          Day
1      Monday
2     Tuesday
3     Tuesday
4   Wednesday
5   Wednesday
6    Thursday
7    Thursday
8      Friday
9      Friday
10   Saturday
11   Saturday
12     Sunday
13     Sunday

In [10]:
#can add a column or you can change and existing one coffee.loc[[1,2],["Days"]] = 10

In [11]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [12]:
coffee.Day

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [13]:
coffee["Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [14]:
coffee.sort_values("Units Sold", ascending=False)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [15]:
coffee.sort_values(["Units Sold","Coffee Type"], ascending=False)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
4   Wednesday    Espresso          35
7    Thursday       Latte          30
2     Tuesday    Espresso          30
5   Wednesday       Latte          25
0      Monday    Espresso          25
3     Tuesday       Latte          20
1      Monday       Latte          15

In [16]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("\n\n\n\n\n\n)")

0
Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object






)
1
Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object






)
2
Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object






)
3
Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object






)
4
Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object






)
5
Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object






)
6
Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object






)
7
Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object






)
8
Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object






)
9
Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object






)
10
Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object






)
11
Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object






)
12
Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object






)
13
Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object






)

In [17]:
coffee['Price'] = 4.99

In [18]:
coffee.head()

         Day Coffee Type  Units Sold  Price
0     Monday    Espresso          25   4.99
1     Monday       Latte          15   4.99
2    Tuesday    Espresso          30   4.99
3    Tuesday       Latte          20   4.99
4  Wednesday    Espresso          35   4.99

In [19]:
import numpy as np 
coffee['new_price'] = np.where(coffee['Coffee Type'] =='Expresso', 3.99, 5.99)

In [20]:
coffee.head()

         Day Coffee Type  Units Sold  Price  new_price
0     Monday    Espresso          25   4.99       5.99
1     Monday       Latte          15   4.99       5.99
2    Tuesday    Espresso          30   4.99       5.99
3    Tuesday       Latte          20   4.99       5.99
4  Wednesday    Espresso          35   4.99       5.99

In [21]:
coffee.drop(columns = ["Price"], inplace = True)

In [22]:
coffee_new = coffee.copy()

In [23]:
coffee = coffee[['Day','Coffee Type', 'Units Sold']]

In [24]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [25]:
coffee['revenue'] = coffee['Units Sold'] * coffee[new_price]

NameError: name 'new_price' is not defined

In [ ]:
coffee.rename(columns ={'new_price': 'price'}, inplace = True)

In [26]:
coffee.loc[[0,1], 'Units Sold'] = np.nan

In [27]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso         NaN
1      Monday       Latte         NaN
2     Tuesday    Espresso        30.0
3     Tuesday       Latte        20.0
4   Wednesday    Espresso        35.0
5   Wednesday       Latte        25.0
6    Thursday    Espresso        40.0
7    Thursday       Latte        30.0
8      Friday    Espresso        45.0
9      Friday       Latte        35.0
10   Saturday    Espresso        45.0
11   Saturday       Latte        35.0
12     Sunday    Espresso        45.0
13     Sunday       Latte        35.0

In [28]:
coffee.isna().sum()

Day            0
Coffee Type    0
Units Sold     2
dtype: int64

In [30]:
coffee = coffee.fillna(coffee['Units Sold'].mean())

In [31]:
coffee = coffee.fillna(coffee['Units Sold'].interpolate)

In [ ]:
#isna or notna

## Aggregating Data

In [34]:
coffee.groupby(['Coffee Type'])['Units Sold'].agg({'Units Sold': 'sum', 'price': 'mean'}) # can also do mean(), sum()

SpecificationError: nested renamer is not supported

In [35]:
coffee.groupby(['Coffee Type', 'Day'])['Units Sold'].agg({'Units Sold': 'sum', 'price': 'mean'}) # can also do mean(), sum()

SpecificationError: nested renamer is not supported

In [ ]:
pivot = coffee.pivot(columns = 'Coffee Type', index = 'Day', values = 'revenue')
pivot.sum()
#pivot.loc...

KeyError: 'revenue'

In [ ]:
coffee['Yesterday_revenue']= coffee['revenue'].shift()

In [47]:
coffee['cum_rev']= coffee['revenue'].cumsum()

KeyError: 'revenue'

In [49]:
lattee= coffee[coffee['Coffee Type']== 'Latte'].copy()
lattee['3 Day']= lattee['Units Sold'].rolling(3).sum()