#### Pandas Review

In [2]:
import pandas as pd

In [14]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns = ["A","B","C"], index=["x","y","z"])

In [15]:
df.head(1)

   A  B  C
x  1  2  3

In [16]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [ ]:
df.info() #notes about the data frame numerical values

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [ ]:
df.describe() #stats about the columns

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [20]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [ ]:
df['A'].unique() #meaning?

array([1, 4, 7])

In [ ]:
df.size # number of row values

9

In [ ]:
df.info # meaning

<bound method DataFrame.info of    A  B  C
x  1  2  3
y  4  5  6
z  7  8  9>