#Intro to Python Sesson 1

In [6]:
x=3
y=4
Z=x+y
print(Z)

In [8]:
pip install pandas numpy matplotlib scipy pulp

7

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.optimize as opt
import pulp

# Create a Data Frame:

In [4]:
df=pd.DataFrame({
   'Product' : ['A', 'B', 'C'],
    'Price'  : [10,15,7],
    'Quantity' : [100,80,120]
})

display(df)
df ['Revenue'] = df['Price'] * df['Quantity']

display(df)

  Product  Price  Quantity
0       A     10       100
1       B     15        80
2       C      7       120

  Product  Price  Quantity  Revenue
0       A     10       100     1000
1       B     15        80     1200
2       C      7       120      840

In [7]:
# simple quadratic optimization model
from scipy import optimize

def objective (x):
    return (x+2)**2+3

result = optimize.minimize(objective, x0 = 2)
print("OFV*:", result.fun, "at x=", result.x)

OFV*: 3.0 at x= [-2.00000001]

In [9]:
# Simple LP
model = pulp.LpProblem("Simple_LP", pulp.LpMaximize)  #lowercase p is essential! # spaces in names are not suggested!

x = pulp.LpVariable('x', lowBound=0)
y = pulp.LpVariable('y', lowBound=0)

model += 3*x + 2*y   # Objective function
model += x + y <= 10
model += x - y >= 3

model.solve()

print("LP Solution:", "x =", x.varValue, "y =", y.varValue)
print("Objective =", pulp.value(model.objective))

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /opt/anaconda3/lib/python3.13/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/lt/m7_m5d6d2nq3_tl5ycf8prkc0000gn/T/670d7358a18e4412b291d3e8c7108f3c-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/lt/m7_m5d6d2nq3_tl5ycf8prkc0000gn/T/670d7358a18e4412b291d3e8c7108f3c-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 7 COLUMNS
At line 14 RHS
At line 17 BOUNDS
At line 18 ENDATA
Problem MODEL has 2 rows, 2 columns and 4 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-2) rows, 0 (-2) columns and 0 (-4) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value 30
After Postsolve, objective 30, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 30 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

LP Solution: x = 10.0 y = 0.0
Objective = 30.0