Session 1:
- Python Environment and Setup

In [ ]:
print("Business Analytics for Decision Making BSAN391")

Business Analytics for Decision Making BSAN391

In [ ]:
x=3
y=4
x+y

7

In [ ]:
#pandas (for data)
#numpy (for numerical work)
#matplotlib (for plots)
#scipy.optimize or PuLP (for optimization problems)

In [ ]:
!pip install pandas numpy matplotlib scipy pulp

Requirement already satisfied: pandas in c:\users\hatef\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\hatef\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: matplotlib in c:\users\hatef\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: scipy in c:\users\hatef\anaconda3\lib\site-packages (1.15.3)
Requirement already satisfied: pulp in c:\users\hatef\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hatef\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\hatef\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.optimize as opt
import pulp

In [ ]:
# Create a Data Frame:

In [ ]:
df = pd.DataFrame ({
   'Product' : ['A', 'B', 'C'],
    'Price'  : [10,15,7],
    'Quantity' : [100,80,120]
})

display (df)
df ['Revenue'] = df['Price'] * df ['Quantity']

display (df)

  Product  Price  Quantity
0       A     10       100
1       B     15        80
2       C      7       120

  Product  Price  Quantity  Revenue
0       A     10       100     1000
1       B     15        80     1200
2       C      7       120      840

In [ ]:
# simple quadratic optimization model
from scipy import optimize

def objective (x):
    return (x+2)**2+3

result = optimize.minimize(objective, x0 = 2)
print("OFV*:", result.fun, "at x=", result.x)

OFV*: 3.0 at x= [-2.00000001]

In [ ]:
# Simple LP
model = pulp.LpProblem("Simple_LP", pulp.LpMaximize)  #lowercase p is essential! # spaces in names are not suggested!

x = pulp.LpVariable('x', lowBound=0)
y = pulp.LpVariable('y', lowBound=0)

model += 3*x + 2*y   # Objective function
model += x + y <= 10
model += x - y >= 3

model.solve()

print("LP Solution:", "x =", x.varValue, "y =", y.varValue)
print("Objective =", pulp.value(model.objective))

LP Solution: x = 10.0 y = 0.0
Objective = 30.0