Session 2:
- Core Python Syntax & Data Structures
- File Handling & Data Preview

In [ ]:
name = "Hoda"           # String
students = 30            # Integer
price = 19.99            # Float
is_enrolled = True       # Boolean

# Write the type of each variable
print("Name type is ", type(name))
print("students type is ", type(students))
print("Price type is ", type(price))
print("is_enrolled type is ", type(is_enrolled))

Name type is  <class 'str'>
students type is  <class 'int'>
Price type is  <class 'float'>
is_enrolled type is  <class 'bool'>

In [ ]:
# Make Lists (ordered and indexed)
products = ["pen", "notebook", "stapler"]

# Access items
print(products[0])      # "pen"
products.append("eraser")  # Add to the end of the list
print(products)

pen
['pen', 'notebook', 'stapler', 'eraser']

In [ ]:
# Make dictionaries: key-value pairs, like labeled data:

product_prices = {
    "pen": 1.5,
    "notebook": 3.0,
    "stapler": 7.5
}

print(product_prices["pen"])    # Access by key
product_prices["pen"] = 1.75    # Update value
print(product_prices)

1.5
{'pen': 1.75, 'notebook': 3.0, 'stapler': 7.5}

In [ ]:
# for loop
for product in products:
    print("Selling:", product)

Selling: pen
Selling: notebook
Selling: stapler
Selling: eraser

In [ ]:
# if statement
price = 4.5
if price > 5:
    print("Expensive")
else:
    print("Reasonable")

Reasonable

In [ ]:
# While loop
count = 0
while count < 3:
    print("Looping", count)
    count += 1def total_cost(price, quantity):
    return price * quantity

print(total_cost(5.5, 10))

Looping 0
Looping 1
Looping 2

In [ ]:
# function
def total_cost(price, quantity):
    return price * quantity

print(total_cost(5.5, 10))

55.0

In [ ]:
# Part 3: File Handling & Data Preview
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\hatef\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hatef\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hatef\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
data = {
    "Product": ["Pen", "Notebook", "Stapler"],
    "Price": [1.5, 3.0, 7.5],
    "Quantity": [100, 80, 60]
}
 # It is sensitive to upper case and lower case.

df = pd.DataFrame(data)

# Let's see the difference:
print(data)
print (df)

# Save to CSV
df.to_csv("sample_sales.csv", index=False)  # search for this name to see where it is saved.

{'Product': ['Pen', 'Notebook', 'Stapler'], 'Price': [1.5, 3.0, 7.5], 'Quantity': [100, 80, 60]}
    Product  Price  Quantity
0       Pen    1.5       100
1  Notebook    3.0        80
2   Stapler    7.5        60

In [ ]:
# Read CSV file
df = pd.read_csv("sample_sales.csv")

In [ ]:
# Describe and Preview the data
#df.head()         # Show first 5 rows
#df.tail()         # Show last 5 rows
#df.columns        # List all column names
#df.shape          # Rows x columns
#df.info()         # Data types and null values
#df.describe()     # Summary statistics for numeric columns

In [ ]:
df.head()         # Show first 5 rows

    Product  Price  Quantity
0       Pen    1.5       100
1  Notebook    3.0        80
2   Stapler    7.5        60

In [ ]:
df.tail()         # Show last 5 rows

    Product  Price  Quantity
0       Pen    1.5       100
1  Notebook    3.0        80
2   Stapler    7.5        60

In [ ]:
df.columns        # List all column names

Index(['Product', 'Price', 'Quantity'], dtype='object')

In [ ]:
df.shape          # Rows x columns

(3, 3)

In [ ]:
df.info()         # Data types and null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   3 non-null      object
 1   Price     3 non-null      float64
 2   Quantity  3 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [ ]:
df.describe()     # Summary statistics for numeric columns

          Price  Quantity
count  3.000000       3.0
mean   4.000000      80.0
std    3.122499      20.0
min    1.500000      60.0
25%    2.250000      70.0
50%    3.000000      80.0
75%    5.250000      90.0
max    7.500000     100.0

In [ ]:
# A lot of time, we want to focuse on a spocific part of our data.
# Access and Filter Data

In [ ]:
#  Access a column
df_price = df ["Price"]
print (df_price)

df [["Price", "Quantity"]]

   Price  Quantity
0    1.5       100
1    3.0        80
2    7.5        60
3    1.0        90

In [ ]:
df_p_m2 = df [df["Price"]>=2]  #shows all columns of the rows that satisfy the rule.
print (df_p_m2)

df[df["Product"] == "Notebook"]

    Product  Price  Quantity
1  Notebook    3.0        80
2   Stapler    7.5        60

    Product  Price  Quantity
1  Notebook    3.0        80

In [ ]:
# Add a new column

df["Revenue"] = df["Price"] * df["Quantity"]
df

    Product  Price  Quantity  Revenue
0       Pen    1.5       100    150.0
1  Notebook    3.0        80    240.0
2   Stapler    7.5        60    450.0

In [ ]:
# Define the new row as a DataFrame, using a dictionary

new_row = pd.DataFrame({
    "Product": ["Eraser"],
    "Price": [1.0],
    "Quantity": [90]
})

# Append using pd.concat
df = pd.concat([df, new_row], ignore_index=True)  # avoid messing up with the index numbers if the new row had an index before.

In [ ]:
# Define the new row as a DataFrame, without a dictionary

row_values = [["Eraser", 1.0, 90 ]]   # just values
new_row = pd.DataFrame(row_values, columns= df.columns)  # make a row
print (new_row)

df = pd.concat([df, new_row], ignore_index=True)  # try it with ignore_index = False to see the issue!
df

  Product  Price  Quantity
0  Eraser    1.0        90

    Product  Price  Quantity
0       Pen    1.5       100
1  Notebook    3.0        80
2   Stapler    7.5        60
3    Eraser    1.0        90